$c-gray-light: #F2F5F7;
$c-gray-2: #cccccc;
$c-gray: #9799A6;
$c-white: #ffffff;
$c-black: #000000;
$c-gray-dark: #324C64;
$c-orange: #EC6E5A;
$c-blue: #5EC6F3;
$c-blue-dark: #5E9EDC;
$c-green: #25D285;
$c-green-dark: #4DBA7A;
$c-purple: #AD85BF;

// fonts
$f-roboto: 'Roboto', sans-serif;
$f-font-size: ( "normal": 1rem, "small": 1.563rem, "medium": 1.953rem, "big": 2.441rem  );
$f-weight: ( "light": 300, "normal": 400, "medium": 500, "bold": 700 );
